@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
@mixin transition() {
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }
$titleFont: 'Reey', sans-serif;
$secondaryFont: 'montserrat', sans-serif;
$whiteColor: #fff;
$mainColor: #333d42;
$titleColor: rgba(33, 33, 33, 1);
$promoColor: #27292b;
$pizzaColor: #F8F6F1;
$h3Color: #393939;
$btnColor: #2E3034;
$footerColor: #343434;
body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --primary: rgba(255, 255, 255, 1);
}
.header{
    background: url(../images/Header.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    position: fixed;
    top: 20px;
    left: 550px;
    z-index: 10;
  }
.nav-link a{
    color: $whiteColor;
    margin-right: 50px;
    letter-spacing: 2px;
    &:hover {
        color: #a7a7a7;
    }
  }
.search {
    position: relative;
    z-index: 1;
    background: $whiteColor;
    border-radius: 30px;
    width: 186px;
    & input:focus{
        width: 350px;
    }
  }
h1,h2,h3{
    font-family: $titlefont;
}
h3{
    font-size: 42px;
    color: $h3Color;
}
.btn{
    font-weight: 800;
    text-transform: uppercase;
    color: $btnColor;
    background-color: var(--primary);
    &:hover, 
    &:active{
        background-color: #a7a7a7;
        @include transition;
    }
}
.title{
    font-family: $titlefont;
    font-size: 59px;
}
.subtitle{
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 50px;
}
.text{
    font-style: italic;
}
.header__img-1{
    position: absolute;
    top: 30%;
    right: 12%;
}
.header__img-2{
    position: absolute;
    right: 45%;
    bottom: -10%;
}
.header__img-3{
    position: absolute;
    right: 5%;
    bottom: -35%;
}

.btn-service{
    background-color: rgba(52, 52, 52, 1);
    letter-spacing: 0.2rem;
}
@media screen and (max-width: 576px){
    .header__img-1{
      display: none;
    }
    .header__img-2{
      display: none;
    }
    .header__img-3{
      display: none;
    }
    .home{
      margin-left:-50px;
      margin-top: 200px;
    }
  }
.container-presentation{
    margin-top: 130px;
}
.cards-wrapper {
    display: flex;
}
  
.card {
    margin: 97px 10px;
    width: calc(100%/3);
}
@media screen and (max-width: 576px) {
    .card {
      width: 100%;
    }
    .card:not(:first-child){
      display: none;
    }
  }
.carousel-inner {
    padding: 1em;
}
@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
        flex-direction: column;
    }
    .carousel-item{
        flex: 0 0 calc(100%/3);
    }
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
  .image-wrapper {
    padding-top: 20px;
    height: 22vw;
    margin: 0 auto;
    &img{
        max-width: 100%;
        max-height: 100%;
    }
}
.title-discount{
    font-size: 58px;
    color: $promoColor;
    font-weight: 800;
    padding-top: 100px;
}

.service-img{
    border-radius: 50%;
    box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.3);
}
.btn-about{
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    background-color: #FEFEFE;
}
.text-discount p{
    font-size: 33px;
    color: $promoColor;
    font-weight: 300;
}
.description-item{
    font-size: 19px;
    color: $mainColor;
}
.description-text{
    font-size: 25px;
    color: #3F3F3F;
    font-weight: 600;
}
.description__text-end{
    font-size: 21px;
    font-weight: 700;
}
.pizza{
    position: relative;
}
.pizza-img-1{
    position: absolute;
    left: -5%;
    top: -18%;
    min-width: 1400px;
}
.pizza-img{
    margin-left: 45%;
    margin-bottom: -40%;
}
.pizza-img-2{
    position: absolute;
    bottom: -36%;
    left: 20%;
}
.pizza h2{
    color: $pizzaColor;
}
.pizza p{
    font-size: 25px;
    color: $pizzaColor;
    padding-top: 20px;
    font-style: normal;
    &:after {
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 166px;
    height: 13px;
    background-color: white;
    }
}
.subscribe-container{
    position: relative;
    padding: 220px 0;
}
.subscribe-img{
    min-height: 110vh;
    position: absolute;
    top: -5%;
    right: 0;
}
.title-subscraibe{
    font-weight: 700;
}
.form-control {
    display: block;
    width: 70%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    color: #54524F;
    background-color: rgba(255, 255, 255, 1);
    background-clip: padding-box;
    border: none;
    border-radius: 52px;
}
.border-rad{
    border-radius: 28px;
    color: #fff;
    background-color: rgba(84, 82, 79, 1);
}
.social-icon img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $promoColor;
    margin-right: 10px;
  }
  .title__footer-link{
    font-family: $secondaryFont;
    margin-left: 30px;
  }
  .footer-link {
    font-family: $secondaryFont;
    color: $footerColor;
    &:hover {
        color: #a7a7a7;
    }
  }

